h1, h2, h3, h4, a{

  link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"
}
p{
font-family: 'Lobster', cursive;
font-weight: 600;
}
.image-align {
  text-align: center;
}
